a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all 125ms linear;

    &.is-highlighted {
        font-weight: 700;
        text-decoration: underline;
    }

    &:hover {
        opacity: 0.5;
    }
}

.row {
    --row-max-width: 67.125em;
    max-width: var(--row-max-width);
    margin-left: auto;
    margin-right: auto;

    &-slim {
        --row-max-width: 42.5em;
    }
}

.icon {
    background: center center no-repeat;
    display: inline-block;
    flex-shrink: 0;
    width: 2em;
    height: 2em;

    &-triangle {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='33' height='29' viewBox='0 0 33 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8203 9.25H17.7891C18.0078 9.25 18.1172 9.35938 18.1172 9.57812L17.6797 20.2969C17.6797 20.5156 17.5703 20.625 17.3516 20.625H16.2578C16.0391 20.625 15.9297 20.5156 15.9297 20.2969L15.4922 9.57812C15.4922 9.35938 15.6016 9.25 15.8203 9.25ZM15.7109 22.1562C16.0026 21.8646 16.3672 21.7188 16.8047 21.7188C17.2422 21.7188 17.6068 21.8646 17.8984 22.1562C18.1901 22.4479 18.3359 22.8125 18.3359 23.25C18.3359 23.6875 18.1901 24.0521 17.8984 24.3438C17.6068 24.6354 17.2422 24.7812 16.8047 24.7812C16.3672 24.7812 16.0026 24.6354 15.7109 24.3438C15.4193 24.0521 15.2734 23.6875 15.2734 23.25C15.2734 22.8125 15.4193 22.4479 15.7109 22.1562ZM32.2266 24.5625C32.5182 25.1823 32.6094 25.7839 32.5 26.3672C32.4271 26.9505 32.1354 27.4427 31.625 27.8438C31.151 28.2812 30.5859 28.5 29.9297 28.5H3.67969C2.65885 28.5 1.89323 28.0625 1.38281 27.1875C0.908854 26.3125 0.908854 25.4375 1.38281 24.5625L14.5078 1.8125C15.0182 0.9375 15.7839 0.5 16.8047 0.5C17.8255 0.5 18.5911 0.9375 19.1016 1.8125L32.2266 24.5625ZM29.9297 26.75C30.2578 26.75 30.4948 26.6042 30.6406 26.3125C30.8229 26.0208 30.8411 25.7292 30.6953 25.4375L17.5703 2.6875C17.388 2.39583 17.1328 2.25 16.8047 2.25C16.4766 2.25 16.2214 2.39583 16.0391 2.6875L2.91406 25.4375C2.76823 25.7292 2.76823 26.0208 2.91406 26.3125C3.09635 26.6042 3.35156 26.75 3.67969 26.75H29.9297Z' fill='black'/%3E%3C/svg%3E");
    }
}
