.button {
    --btn-bg: var(--color-secondary);
    --btn-color: var(--color-primary);
    background: #FFFFFF;
    border: 3px solid;
    border-color: var(--btn-color);
    box-sizing: border-box;
    box-shadow: 10px 10px 0px var(--btn-color);
    display: inline-block;
    padding: 1.25em;
    min-width: 15.875em;
    color: var(--btn-color);
    text-transform: uppercase;
    text-align: center;

    // TODO Can we make it to be 'button-disabled' or 'button-is-disabled'
    // because 'is-disabled' sound more globally not only for button
    &.is-disabled {
        --btn-color: var(--color-primary-disabled);
        cursor: not-allowed;
        
        &:hover{
            opacity: 1;
        }
    }
}
